body
{
    background-image: url('../Images/login_bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.login_header
{
    text-align: center;
    
}

div.login_header
{
    margin-bottom: 60px;
}

div.login_header h1
{
    font-size: 100px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    opacity: 80%;
}

div.login_header p
{
    color: black;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
    color: rgb(0, 0, 0);
    opacity: 75%;
}

div.login_header p:after
{
    content: "";
    display: block;
    height: 5px;
    background: black;
    margin: 0 auto;
    
}

div.login_body form
{
    margin: 0 auto;
    width: 450px;
    background: rgb(0, 0, 0, .5);
    padding: 50px;
    border: 3px solid rgb(224, 223, 223);
    border-radius: 8px;
}

div.login_input_cont label
{
    margin: 3px;
}

div.login_input_cont label
{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.login_input_cont input
{
    height: 25px;
    width: 100%;
    border: 2px solid red;
    font-size: 20px;
    padding: 5px;
    font-style: italic;
}

div.login_button_cont
{
    margin-top: 35px;
}


div.login_button_cont button
{
    font-size: 15px;
    padding: 7px 7px ;
    background: red;
    border: none;
    color: white;
}