/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  background-color: #ff0000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

header h1,
header h2 {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}


main {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 15px;
}

form input[type="text"],
form input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}


.dashboard-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
}

#stock-distribution,
#stock-bar-distribution {
  width: 500px;
  height: 500px;
}


footer {
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: auto;
}